<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewporta" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJS Template</h1>
    <h2> <%= name %></h2>
    <h2> <%= color %></h2>
    <%= messages %>
    <ol>
        <% for(let i=0; i<messages.length;i++) {%>
            <li> <%= messages[i] %> </li>
        <% } %>    
    </ol>
</body>
</html>